<!DOCTYPE html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <style>
            body {
                margin: 0;
                padding-bottom: 3rem;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            }

            #form {
                background: rgba(0, 0, 0, 0.15);
                padding: 0.25rem;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                height: 3rem;
                box-sizing: border-box;
                backdrop-filter: blur(10px);
            }
            #input {
                border: none;
                padding: 0 1rem;
                flex-grow: 1;
                border-radius: 2rem;
                margin: 0.25rem;
            }
            #input:focus {
                outline: none;
            }
            #form > button {
                background: #333;
                border: none;
                padding: 0 1rem;
                margin: 0.25rem;
                border-radius: 3px;
                outline: none;
                color: #fff;
            }

            #messages {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            #messages > li {
                padding: 0.5rem 1rem;
            }
            #messages > li:nth-child(odd) {
                background: #efefef;
            }
        </style>
    </head>
    <body>
        <div class="contactss">
            <form action="/api/contact/addContact" method="post">
                <input type="hidden" name="userID" value="<%=_id%>" required />
                <input type="tel" name="phoneNumber" required />
                <input type="submit" value="add people" />
            </form>
        </div>
        <ul id="messages"></ul>
        <form id="form">
            <input type="text" placeholder="name" id="receiver" />
            <input id="input" autocomplete="off" /><button type="button" id="btn">Send</button>
        </form>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            var socket = io();
            var userID = `<%= _id%>`;
            var nameUser = "<%= name %>";
            var messages = document.getElementById("messages");
            var form = document.getElementById("form");
            var input = document.getElementById("input");
            var receiver = document.getElementById("receiver");

            if (nameUser) {
                socket.emit("userjoin", { uId: userID, uName: nameUser });
            }
            socket.on("new User", (newUser) => {
                alert("user joined " + newUser);
            });

            document.getElementById("btn").addEventListener("click", function (e) {
                if (input.value && receiver.value) {
                    var clientChat = document.createElement("li");
                    clientChat.textContent = nameUser + ":" + input.value;
                    messages.appendChild(clientChat);
                    socket.emit("send message", { msg: input.value, receiver: receiver.value, sender: nameUser });
                    input.value = "";
                }
            });

            socket.on("chat message", function (data) {
                var item = document.createElement("li");
                console.log(data, ">>>>>>>>>>>>>>>>>>>");
                item.textContent = data.sender + ":" + data.msg;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            });

            // contacts.forEach((contact)=>{
            //   let div = document.createElement('div');
            //   div.className = "userTab";
            //   let ul = document.createElement('ul');
            //   ul.className = "messageTab";
            //   let inputs = document.createElement('input');
            //   let button = document.createElement('button');
            //   button.onclick = ()=>{
            //     let msg = input.value;
            //     let rEmail =contact.email;
            //     socket.emit('send message',{msg: msg,receiver:rEmail,sender:nameUser});
            //   }
            //})
        </script>
    </body>
</html>
